$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.viewLoader {
	height: 0;
	opacity: 0;
	position: relative;
	/* top: -30px; */
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	-o-transition: opacity .5s ease-out;
	-ms-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
}

.viewLoader.loading {
	opacity: 1;
	pointer-events: none;
}

.viewLoader p {
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
}


@media all {
	.page-break	{
		display: none;
	}
}

@media print {
	.page-break	{
		display: block;
		page-break-after: always;
	}

	body {
		margin: 0;
	}
}

	.cardItem {
		display: inline-block;
		margin: 0;
	}


.card {
	position: relative; /*relative size hack*/
	border: 1px solid #DDD;
	text-align: center;
	margin: 0 auto;
	float: left;
	width: 200px;

	&:before {
		/*relative size hack*/
		content: "";
		display: block;
		padding-top: 150%;
		/* END relative size hack*/
	}

	.hint {
		position: absolute;
		top: 6%;
		left: 10%;
		margin: 0;
	}

	.cardContent {
		/* relative size hack*/
		position:  absolute;
		top: 50%;
		left: 0;
		bottom: 0;
		right: 0;
		/* END relative size hack*/
		padding: 0 6% 6% 6%;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size: 15px;
		color: black !important;

		h2 {
			margin-top: 0;
			font-size: 18px;
		}
	}
}

@media print {
	.doNotPrint {
		display: none;
	}
}
